<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="splash">
  <div class="container">

<form action="{{ url_for('Graphics') }}" method="post" name="graphic">
<table class="table table-bordered">
 <tr><td align="center"></th><td align="center">№</th><td align="center">Name</th>

{% for d in data%}
<tr style="background-color: #f5f5f5;">
<td align="center"><input name="id" type="radio" value="{{ d.id }}"/></td>
<td align="center">{{d.id}} </td>
<td align="center">{{d.name}}</td>
</tr>
{%endfor%}  


</table>
<button  type="submit" class="btn btn-default">Show graphic</button>
</form>
{% if flag == true %}
<span style="color: red;">[choose the substance]</span>
{%endif%}






  
  
  
  
  
  
</div></div>
{% endblock %}