<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="splash">
  <div class="container">
<h1>Created by {{user.nickname}}</h1>
<h1>Розпізнавання спектра речовин</h1>
<p style="text-align: 50px;">Атоми будь-якого хімічного елемента дають спектр, не схожий на спектри всіх інших елементів: вони здатні випромінювати тільки певний набір довжин хвиль.</p>
<p style="text-align: 50px;">На сьогоднішній день існує велика кількість експериментальних методів аналізу речовин за спектрами, які призводять до завдання ідентифікації зареєстрованих кривих.</p>
<p style="text-align: 50px;">Дослідження лінійного спектра речовини дозволяє визначити, з яких хімічних елементів вона складається і в якій кількості міститься кожен елемент в даній речовині.  </p>
<h1>Застосування спектрального аналізу</h1>
<p style="text-align: 50px;">Спектральний аналіз широко застосовується при пошуках корисних копалин для визначення хімічного складу зразків руди.</p>
<p style="text-align: 50px;">У промисловості спектральний аналіз дозволяє контролювати склади сплавів і домішок, що вводяться в метали для отримання матеріалів з заданими властивостями. </p>
<h1>Переваги спектрального аналізу</h1>
<p style="text-align: 50px;">Перевагами спектрального аналізу є висока чутливість і швидкість отримання результатів.</p>
<p style="text-align: 50px;">Він дозволяє визначити хімічний склад небесних тіл, віддалених від Землі на відстані в мільярди світлових років.</p>
<p style="text-align: 50px;">Хімічний склад атмосфер планет і зірок, холодного газу в міжзоряному просторі визначається за спектрами поглинання.</p>
<p style="text-align: 50px;">На цьому і грунтується спектральний аналіз - метод визначення хімічного складу речовини за його спектром. </p>
<form> 
   <p><button class="btn btn-default" formaction="Determinetion">Next --></button></p>
</form> 
</div></div>
{% endblock %}