<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="splash">
  <div class="container">
<p style="text-align: 50px;"><b>{{ name }}</b>  has the spectrum: <b>{{ spectra }}</b></p>
<br></br>
<br></br>
<div class="article-content">
<h1>Updated database</h1>
<table class="table table-bordered">
 <tr><td align="center">№</td><td align="center">Name</td>

{% for d in data%}
<tr style="background-color: #f5f5f5;">
<td align="center">{{d.id}}</td>
<td align="center">{{d.name}}</td>
</tr>
{%endfor%}  


</table>
</div>
<br></br>

<form> 
   <p><button class="btn btn-default" formaction="res"> Give another name </button></p>
</form> 

<form> 
   <p><button class="btn btn-default" formaction="Determination"> Back to the Determination of the composition </button></p>
</form> 
</div>
</div>
{% endblock %}
